body{
	text-transform: capitalize;
	color: green;
	background-color: pink;
	display: flex;
	padding: 100px;
}

h1{
	color: #345678;
	text-align: center;
}

h3{
	padding: 100px;
	color: lightsteelblue;
}

ul{
	list-style-type: lower-greek;
	list-style-position: inside;
}

h2{
	text-align: center;
	font-style: oblique;
}

p{
	color: red;
	text-indent: 5px;
	font-size: 2em;
	font-style: oblique;
	font-weight: bolder;
	margin: 100px;
	padding: 100px;
	white-space: pre-wrap;
}

.extreme{
	border-width: thick;
	border-style: dotted;
	border-color: goldenrod;
}

.navzone{
	border-width: 20px;
	border-style: groove;
	border-color: blue;
}

.content{
	border-top-color: brown;
	border-top-width: 2px;
	border-top-style: inset;
}

.prose{
	text-transform: uppercase;
}

#head1{
	font-size: 4em;
}

#tehlulz{
	text-decoration: line-through;
}
