head{
	color: blue;
}

body{
	color: green;
	background-color: #EFC274;
}

h1{
	color: blue;
	text-align: center;
	text-shadow: 20px 10px 10px #ff0000;
 	letter-spacing: -50px;
}

h3{
	color: #00FFAA;
}

ul{
	list-style-type: armenian;
}

h2{
	letter-spacing: -10px;
	text-align: right;
}

p{
	color: purple;
	text-transform: uppercase;
	text-indent: 500px;
 	letter-spacing: 100px;
}

div{
	text-align: justify;
}

.extreme{
	font-variant: small-caps;
}

.navzone{
	border-width: 50px;
	border-style: ridge;
	border-color: orange;
}

.content{
	text-shadow: 5px 5px 5px green;
}

.prose{
	text-align-last: center;
	font-family: monospace;
}

#head1{
	font-family: sans-serif;
}

#tehlulz{
	font-size: 10em;
}
